$section-padding: 1.5rem 1.5rem
$section-padding-desktop: 1.5rem 1.5rem

@import "bulma/bulma.sass"

.fullwidth
  width: 100vw

.fullheight
  height: 100vh
  
.fullheight-with-navbar 
  height: calc(100vh - $navbar-height)
